#main {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 20%;
        width: 410px;
        max-width: 100dvw;

        .selector {
            background-color: white;
            border: var(--outline);
            padding: 10px;
            border-radius: 40px;
            display: flex;
            gap: 10px;
            display: flex;
            justify-content: space-between;

            button {
                font-variant: small-caps;
                font-size: medium;
                border: none;
                background: transparent;
                transition-duration: 0.4s;
                color: hsl(0, 0%, 40%);
                cursor: pointer;
                display: flex;
                flex-grow: 1;
                justify-content: center;
                align-items: center;
            }
            button[data-selected=true] {
                color: hsl(0, 0%, 0%);
            }
            button:hover {
                color: hsl(0, 0%, 20%);
            }
            button:active {
                color: hsl(0, 0%, 0%);
            }
        }

        .form {
            padding: 20px;
            border-radius: 40px;
            border: var(--outline);
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}